/* General */
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

/* Sections */

.content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
.content-half {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-logo {
  width: 30vh;
  height: 30vh;
  margin: 10px auto;
}
.content-socials {
  height: 40px;
  display: flex;
  justify-content: center;
}
.content-social {
  margin: auto 10px;
}
.content-social:hover {
  cursor: pointer;
}
h1 {
  font-family: "ABeeZee";
  margin: 20px;
}
p {
  font-family: "Saira Condensed";
  font-size: 20px;
}
